.projectCard{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;


    // width: 400px;
    // min-height: 250px;
    background: rgb(255, 255, 255);
    box-shadow: none;
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    // border-radius: 1rem;
    // padding: 1.5rem;
    z-index: 10;
    color: black;
    img{
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .texts{
            h2{
                font-size: 14px;
                font-weight: 500;
            }
            span{
                font-size: 14px;
            }
        }
    }
}