.slide {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background: #091235;
    z-index: 300;
    transform: translateZ(0);
  
    &:before {
      content: "";
      top: 0rem;
      left: -1rem;
      width: 100vw;
      height: 100%;
      z-index: 9999;
      position: fixed;
      background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
      opacity: 0.06;
      pointer-events: none;
      -webkit-animation: noise 1s steps(2) infinite;
      animation: noise 1s steps(2) infinite;
    }
    
    .container{
        width: 1400px;

        .carousel-prev, .carousel-next{
            width: 50px;
            height: 50px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}