.slide {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    background: #000;
    z-index: 300;
    transform: translateZ(0);
  
    
    .container{
        width: 1400px;

        .carousel-prev, .carousel-next{
            width: 50px;
            height: 50px;
            background-color: rgba(250, 250, 250, 0.5);
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}