.messages {
  display: flex;
  justify-content: center;
  background-color: #091235;
  overflow-x: hidden;
  z-index: 300;
  transform: translateZ(0);
  color: white;

  &:before {
    content: "";
    top: 0rem;
    left: -1rem;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.06;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }
  .container {
    width: 1400px;
    padding: 50px 0px;

    .title {
      display: flex;
      justify-content: space-between;

      button {
        background-color: #1dbf73;
        color: white;
        font-weight: 500;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    table {
      width: 100%;

      tr {
        height: 100px;
        th {
          text-align: left;
        }
        td {
          padding: 20px;

          &:first-child {
            font-weight: 500;
          }

          &:nth-child(2),
          &:nth-child(3) {
            color: rgb(183, 181, 181);
          }
        }

        button {
          display: inline-block;
          padding: 10px 10px;
          border: 0;
          text-decoration: none;
          border-radius: 15px;
          background-color: rgba(255, 255, 255, 0.1);
          border: 2px solid rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(30px);
          color: rgba(255, 255, 255, 0.8);
          font-weight: 500;
          font-size: 14px;
          letter-spacing: 1px;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
          }
        }

        &.active {
          background-color: #1dbf730f;
        }
      }
    }
  }
}
