.footer {
  display: flex;
  justify-content: center;
  color: #fff;
  // margin: 50px 0px;
  background: #091235;
  z-index: 300;
  transform: translateZ(0);

  &:before {
    content: "";
    top: 0rem;
    left: -1rem;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.06;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 80vw;
    padding-bottom: 30px;

    .top {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h2 {
        font-size: 16px;
        color: #fff;
      }
      span {
        font-weight: 300;
      }
    }

    hr{
        margin: 20px 0px; 
        border: 1px solid rgb(235, 235, 235);
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      .left {
        display: flex;
        align-items: center;
        gap: 20px;

        span{
            font-size: 13px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        gap: 30px;

        .social, .link{
            display: flex;
            align-items: center;
            gap: 10px;
        }
      }
    }
  }
}
